In [6]:
import findspark
findspark.init()
 
from pyspark.sql import SparkSession
 
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
 
spark

In [7]:
ecommerceDF = spark.read.option("header", "true").option("inferSchema", "true").csv("C:/Users/shemantk/OneDrive - Capgemini/Documents/SPRINT Ecommerce Data/5000 Sales Records.csv")

In [8]:
ecommerceDF.printSchema()
ecommerceDF.show()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Central America a...| Antigua and Barbuda|      Baby Food|       Online|             M|12/20/2013|957081544| 1/11/2014|       552|    255.28|   159.42|    140914.56|  87999.84|    52914.72|
|Central America a...|              Panama|         Snacks|      Offline|             C|  7/5/2010|301644504| 7/26/2010|      2167|    152.58|    97.44|    330640.86| 211152.48|   119488.38|
|              Europe|      Czech Republic|      Beverages|      Offline|             C| 9/12/2011|478051030| 9/29/2011|      4778|     47.45|    31.79|     226716.1| 151892.62|    74823.48|
|                Asia|         North Korea|         Cereal|      Offline|             L| 5/13/2010|892599952| 6/15/2010|      9016|     205.7|   117.11|    1854591.2|1055863.76|   798727.44|
|                Asia|           Sri Lanka|         Snacks|      Offline|             C| 7/20/2015|571902596| 7/27/2015|      7542|    152.58|    97.44|   1150758.36| 734892.48|   415865.88|
|Middle East and N...|             Morocco|  Personal Care|      Offline|             L| 11/8/2010|412882792|11/22/2010|        48|     81.73|    56.67|      3923.04|   2720.16|     1202.88|
|Australia and Oce...|Federated States ...|        Clothes|      Offline|             H| 3/28/2011|932776868| 5/10/2011|      8258|    109.28|    35.84|    902434.24| 295966.72|   606467.52|
|              Europe|Bosnia and Herzeg...|        Clothes|       Online|             M|10/14/2013|919133651| 11/4/2013|       927|    109.28|    35.84|    101302.56|  33223.68|    68078.88|
|Middle East and N...|         Afghanistan|        Clothes|      Offline|             M| 8/27/2016|579814469| 10/5/2016|      8841|    109.28|    35.84|    966144.48| 316861.44|   649283.04|
|  Sub-Saharan Africa|            Ethiopia|      Baby Food|       Online|             M| 4/13/2015|192993152|  5/7/2015|      9817|    255.28|   159.42|   2506083.76|1565026.14|   941057.62|
|Middle East and N...|              Turkey|Office Supplies|      Offline|             C| 9/25/2013|557156026|10/15/2013|      3704|    651.21|   524.96|   2412081.84|1944451.84|    467630.0|
|Middle East and N...|                Oman|      Cosmetics|       Online|             M| 5/12/2013|741101920| 5/17/2013|      7382|     437.2|   263.33|    3227410.4|1943902.06|  1283508.34|
|                Asia|            Malaysia|         Cereal|      Offline|             L| 7/31/2016|333942162| 8/25/2016|      9762|     205.7|   117.11|    2008043.4|1143227.82|   864815.58|
|Central America a...|         Saint Lucia|      Cosmetics|      Offline|             H|  7/6/2015|795100581| 7/16/2015|      6786|     437.2|   263.33|    2966839.2|1786957.38|  1179881.82|
|Central America a...|Saint Vincent and...|      Baby Food|       Online|             L|11/28/2010|504313504| 12/3/2010|      6428|    255.28|   159.42|   1640939.84|1024751.76|   616188.08|
|Middle East and N...|             Lebanon|           Meat|      Offline|             H|12/17/2015|611629760| 1/31/2016|      3693|    421.89|   364.69|   1558039.77|1346800.17|    211239.6|
|              Europe|             Austria|         Cereal|      Offline|             C| 8/13/2014|987410676|  9/6/2014|      5616|     205.7|   117.11|    1155211.2| 657689.76|   497521.44|
|              Europe|            Bulgaria|Office Supplies|       Online|             L|10/31/2010|672330081|11/29/2010|      6266|    651.21|   524.96|   4080481.86|3289399.36|    791082.5|
|       North America|              Mexico|      Beverages|       Online|             C| 3/13/2017|127374303| 3/20/2017|      1742|     47.45|    31.79|      82657.9|  55378.18|    27279.72|
|Central America a...| Trinidad and Tobago|      Baby Food|      Offline|             C| 4/16/2013|783842170|  6/1/2013|      5172|    255.28|   159.42|   1320308.16| 824520.24|   495787.92|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

### 8.Display the number of orders for each item.

In [9]:
# Load data into a DataFrame (assuming you've already loaded your data)
df = spark.read.option("header", "true").csv("C:/Users/shemantk/OneDrive - Capgemini/Documents/SPRINT Ecommerce Data/5000 Sales Records.csv")

 
# Group by Item Type and count number of orders
item_order_counts = df.groupBy("Item Type").count()
 
# Rename the count column for clarity
item_order_counts = item_order_counts.withColumnRenamed("count", "Number of Orders")
 
# Show the result
item_order_counts.show()

# Write the result to Parquet
item_order_counts.write.mode("overwrite").parquet("C:/Users/shemantk/OneDrive - Capgemini/Documents/SPRINT Ecommerce Data/itemOrder_parquet")

+---------------+----------------+
|      Item Type|Number of Orders|
+---------------+----------------+
|      Baby Food|             445|
|         Cereal|             385|
|           Meat|             399|
|      Household|             424|
|     Vegetables|             410|
|      Beverages|             447|
|Office Supplies|             420|
|      Cosmetics|             424|
|  Personal Care|             415|
|         Fruits|             447|
|         Snacks|             398|
|        Clothes|             386|
+---------------+----------------+

### 9.Display the country with highest sale.

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, desc

# Create Spark session
spark = SparkSession.builder.appName("DistinctCountries").master("local[*]").getOrCreate()

# Read the CSV file into DataFrame
salesDF = spark.read.option("header", "true").csv(r"C:\Users\shemantk\OneDrive - Capgemini\Documents\SPRINT Ecommerce Data\5000 Sales Records.csv")

# Coalesce to a single partition (optional)
salesDF1 = salesDF.coalesce(1)

# Group by 'Country' and sum 'Total Revenue'
countrySalesDF = salesDF1.groupBy("Country").agg(sum("Total Revenue").alias("Total_Sales")).persist()

# Find the country with the highest total sales
topCountryDF = countrySalesDF.orderBy(desc("Total_Sales")).limit(1)

# Show the result
topCountryDF.show()

# Write the result to Parquet
topCountryDF.write.mode("overwrite").parquet("C:/Users/shemantk/OneDrive - Capgemini/Documents/SPRINT Ecommerce Data/topCountry_parquet")

# Stop Spark session
spark.stop()

+-------+-------------------+
|Country|        Total_Sales|
+-------+-------------------+
| Rwanda|6.039873958999999E7|
+-------+-------------------+